{{#each errors as |error|}}
<p style="color: red; margin-top: 2rem;">{{error.meta.exception}}</p>
{{/each}}
<div class="row justify-content-center" style="margin-top: 4rem;">
    <div class="col-sm mb1">
        {{!-- https://www.npmjs.com/package/ember-cli-zoom-js --}}
        {{!-- https://www.npmjs.com/package/ember-image-magnifier --}}
        {{!-- https://www.google.com/search?ei=q8IBXNH2Hsea_Qak5ZaICg&q=how+to+take+a+pic+that+lets+your+product+move&oq=how+to+take+a+pic+that+lets+your+product+move&gs_l=psy-ab.3...7855.19292..19427...9.0..0.218.3100.28j5j1......0....1..gws-wiz.......0i71j35i39j0i22i30j33i22i29i30j33i299j33i10.WvsXZTdHnzs
         --}}
         {{!-- https://youtu.be/vgcBEm8358Q --}}
        {{!-- http://us.orangemonkie.com/cart/ --}}
        {{!-- http://orangemonkie.com/elements/review/ --}}
        {{#if (eq model.product "Sandy Cheeks")}}
        {{!-- <img style="max-width: 16rem;" src="./../img/{{model.product}}.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{else if (eq model.product "Beard Bark")}}
        {{!-- <img style="max-width: 16rem;" src="./../img/{{model.product}}.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{else}}
        {{!-- <img style="max-width: 16rem;" src="./../img/Beard Bark.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{/if}}
    </div>
    <div class="col-sm align-self-center">
        <p style="margin-top: 0rem; margin-bottom: 0rem;">$13.99  <strong>(One-time Purchase)</strong></p>
        <p style="margin-top: 0rem; margin-bottom: 0rem;">Free Shipping, Cancel Anytime</p>
        <p style="margin-top: 0rem; margin-bottom: 0rem;">100% Money Back Guarantee</p>

        <form onsubmit={{action "processStripeToken"}}>
            {{#power-select
            placeholder="Choose Your Scented Beard Oil"
            options=products
            searchEnabled=false
            selected=model.product
            onchange=(action (mut model.product)) as |product|}}
            {{product}}
            {{/power-select}}

            {{stripe-checkout
            image="/img/beard-logo-1.jpg"
            name="Pearl's Beard Oil"
            description="One-time Purchase"
            amount=1399
            label="Purchase"
            shippingAddress=true
            billingAddress=true
            onToken=(action "processStripeToken")
            class="yellowbutton"
            }}


        </form>
    </div>

</div>