<header class=container>
  <nav class="row mt2">
    <div class="col-8">
        <img src="./img/EMAIL-LOGO-ANIMATION.gif" style="max-width: 22rem;" alt="Pearls Beard Oil Logo">
    </div>
    <!--/////////////////// -->
    <!-- DESKTOP ONLY VIEW -->
    <!--/////////////////// -->
      <ul class="col row mt1 hide991px">
        <li class="col text-center">{{#side-menu-link-to "index"}}HOME{{/side-menu-link-to}}</li>
        <li class="col text-center">PRODUCTS</li>
        <li class="col text-center">{{fa-icon "user"}}</li>
        <li class="col text-center">{{fa-icon "shopping-cart"}}</li>
      </ul>
      {{#side-menu-toggle class="col hide992px justify-content-end mtpoint5 mt500px" id="menuToggle"}}
       <span>MENU {{fa-icon "bars"}}</span>
     {{/side-menu-toggle}}


  </nav>
</header>
<!--/////////////////// -->
<!-- MOBILE ONLY VIEW -->
<!--/////////////////// -->



{{#side-menu width="250px" side="right" id="menuRight" class="hide992px"}}

{{#side-menu-toggle id=""}}<div style="margin-left: 2rem; width:24px; ">{{fa-icon "close"}}</div>{{/side-menu-toggle}}
  <ul class="nav">
    <li class="col-12 text-center">{{#side-menu-link-to "index"}}HOME{{/side-menu-link-to}}</li>
    <li class="col-12 text-center">PRODUCTS</li>
    <li class="col-12 text-center">{{fa-icon "user"}}</li>
    <li class="col-12 text-center">{{fa-icon "shopping-cart"}}</li>
  </ul>
{{/side-menu}}
{{content-backdrop}}
          {{outlet}}
