{{#each errors as |error|}}
<p style="color: red; margin-top: 2rem;">{{error.meta.exception}}</p>
{{/each}}
<div class="row justify-content-center" style="margin-top: 4rem;">
    <div class="col-lg-3 mb1">
        {{#if (eq model.product "Sandy Cheeks")}}
        <h4>Sandy Cheeks</h4>
        <p>15ml / 0.5oz bottle</p>
        <p>On average this bottle should last a month.</p>
        <p>Sandy Cheeks has a soft beachy smell that is pleasant to the nose.</p>
        <p>Ingredients: Grape seed oil, bergamot and myrrh</p>
        {{else if (eq model.product "Beard Bark")}}
        <h4>Beard Bark</h4>
        <p>15ml / 0.5oz bottle</p>
        <p>On average this bottle should last a month.</p>
        <p>Beard Bark smells like you just rubbed your face on a tree. Your lady will love it.</p>
        <p>Ingredients: Apricot oil, atlas, cedar and patchouli</p>
        {{else}}
        <h4>Choose a Scent</h4>
        <p>15ml / 0.5oz bottle</p>
        <p>Fix Dry Beard. Better the Environment. Zero Household Waste. Scented Beard Oil Products.</p>
        {{/if}}
    </div>
    
    <div class="col-sm mb1">
        {{#if (eq model.product "Sandy Cheeks")}}
        {{!-- <img style="max-width: 16rem;" src="./../img/{{model.product}}.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{else if (eq model.product "Beard Bark")}}
        {{!-- <img style="max-width: 16rem;" src="./../img/{{model.product}}.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{else}}
        {{!-- <img style="max-width: 16rem;" src="./../img/Beard Bark.PNG" alt=""> --}}
        <img style="max-width: 5rem;" src="./../img/IMG_0584.png" alt="">
        {{/if}}
    </div>
    <div class="col-sm align-self-center">
        <p style="margin-top: 0rem; margin-bottom: 0rem;">$10.99 / month</p>
        <p style="margin-top: 0rem; margin-bottom: 0rem;">Free Shipping, Cancel Anytime</p>
        <p style="margin-top: 0rem; margin-bottom: 0rem;">100% Money Back Guarantee</p>
        {{!-- <p style="margin-top: 0rem; margin-bottom: 0rem">15ml / 0.5oz</p> --}}
        {{!-- <p style="margin-top: 0rem;">free shipping, cancel anytime</p> --}}
        {{!-- {{#if session.isAuthenticated}}
        {{#link-to 'admin.users.editscents' currentUser.user.id}}<button class="yellowbutton">Schedule Scents</button>{{/link-to}}
        {{else}}
        {{#link-to 'register'}}<button class="yellowbutton">Be a Product Tester</button>{{/link-to}}
        {{/if}} --}}
        <form onsubmit={{action "processStripeToken"}} style="max-width: 17rem; margin-left: auto; margin-right: auto;">
            {{!-- {{input value=model.email placeholder="Email"}}<br> --}}
            <p style="margin-bottom: 0rem;">Step 1 - Choose Scent</p>
            {{#power-select
            placeholder="Choose Your Beard Oil Scent"
            options=products
            searchEnabled=false
            selected=model.product
            onchange=(action (mut model.product)) as |product|}}
            {{product}}
            {{/power-select}}
            {{#if (eq model.product "Sandy Cheeks")}}
            <p style="margin-bottom: 0rem; margin-top: 2rem;">Step 2 - Subscribe</p>
            {{stripe-checkout
            image="/img/beard-logo-1.jpg"
            name="Pearl's Beard Oil"
            description="Monthly Subscription"
            amount=1099
            label="Subscribe"
            shippingAddress=true
            billingAddress=true
            onToken=(action "processStripeToken")
            class="yellowbutton"
            }}
            {{else if (eq model.product "Beard Bark")}}
            <p style="margin-bottom: 0rem; margin-top: 2rem;">Step 2 - Subscribe</p>
            {{stripe-checkout
            image="/img/beard-logo-1.jpg"
            name="Pearl's Beard Oil"
            description="Monthly Subscription"
            amount=1099
            label="Subscribe"
            shippingAddress=true
            billingAddress=true
            onToken=(action "processStripeToken")
            class="yellowbutton"
            }}
            {{else}}
            <p style="margin-bottom: 0rem; margin-top: 2rem;">Step 2 - Purchase</p>
            <div class="yellowbutton">Purchase</div>
            {{/if}}
        </form>
    </div>

</div>