<div class="container">
  <div class="row text-center justify-content-center" style="margin-top: 2rem;">
    <div class="col-12">
      <h1 class="hideOnDesktop">
        Sandy Cheeks
      </h1>
      <p class="hideOnDesktop">
        15ml / 0.5 fl oz (1 month supply)
      </p>
    </div>
    <div class="col-12 col-lg-4 order-last order-lg-12 text-center">
      <h1 class="hideOnMobile">
        Sandy Cheeks
      </h1>
      <p class="hideOnMobile">
        15ml / 0.5 fl oz (1 month supply)
      </p>
      
      {{#if (eq model.payment "one-time purchase")}}
        <h4 style="margin-top: 1rem;">$13.99</h4>
      {{else if (eq model.payment "subscription")}}
        <h4 style="margin-top: 1rem;">$10.99 / month</h4>
      {{else}}
        <h4 style="margin-top: 1rem;">$10.99 / month</h4>
      {{/if}}
      <form class=" text-center" onsubmit={{action "processStripeToken"}} style="max-width: 17rem; margin-left: auto; margin-right: auto;">
        
        {{#power-select
        placeholder="Choose Payment Option"
        options=payments
        searchEnabled=false
        selected=model.payment
        onchange=(action (mut model.payment)) as |payment|}}
        {{payment}}
        {{/power-select}}
        <br>
        {{#if (eq model.payment "one-time purchase")}}
        
        {{stripe-checkout
        image="/img/IMG_1961.jpg"
        name="Pearl's Beard Oil"
        description="One-time Purchase"
        amount=1399
        label="Purchase"
        shippingAddress=true
        billingAddress=true
        onToken=(action "processStripeToken")
        class="yellowbutton"
        }}
        {{else if (eq model.payment "subscription")}}
        
        {{stripe-checkout
        image="/img/IMG_1961.jpg"
        name="Pearl's Beard Oil"
        description="Monthly Subscription"
        amount=1099
        label="Subscribe"
        shippingAddress=true
        billingAddress=true
        onToken=(action "processStripeTokenSubscription")
        class="yellowbutton"
        }}
        {{else}}
        
        <div class="yellowbutton">Purchase</div>
        {{/if}}
      </form>
      <div class="row" style="margin-top: 2rem;">
        <div class="col">
          <h3>Description</h3>
          <p>
            On average this bottle should last a month.
            Sandy Cheeks has a soft beachy smell that is pleasant to the nose.
            Ingredients: Grape seed oil, bergamot and myrrh
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <img style="
        max-width: 100%;
        border: 1px solid #f3a536;
        object-fit: cover;
        height: 31rem;   
        " src="./../img/IMG_1961.jpg" alt="">
    </div>
  
  </div>

  <div class="row justify-content-between" style="margin-top: 2rem;">
    <div class="col-lg-7 text-left">
    
    </div>
  </div>
</div>
{{outlet}}