<div class="container">
  <div class="row text-center justify-content-center" style="margin-top: 2rem;">
    <div class="col-12">
      <h1 class="hideOnDesktop">
        Sandy Cheeks
      </h1>
      <p class="hideOnDesktop">
        15ml / 0.5 fl oz (1 month supply)
      </p>
    </div>
    <div class="col-12 col-lg-4 order-last order-lg-12 text-center">
      <h1 class="hideOnMobile">
        Sandy Cheeks
      </h1>
      <p class="hideOnMobile">
        15ml / 0.5 fl oz (1 month supply)
      </p>

      {{#if (eq model.payment "one-time purchase")}}
        <h4 style="margin-top: 1rem;">$13.99</h4>
      {{else if (eq model.payment "subscription")}}
        <h4 style="margin-top: 1rem;">$10.99 / month</h4>
      {{else}}
        <h4 style="margin-top: 1rem;">$10.99 / month</h4>
      {{/if}}

        <div class="row justify-center" style="margin-bottom: 0rem;">
          <div class="col">
            <p style="margin-bottom: 0rem;">{{fa-icon 'check'}} Free Shipping</p>
          </div>
        </div>
        <div class="row justify-center" style="margin-bottom: 0rem;">
          <div class="col">
            <p style="margin-bottom: 0rem;">{{fa-icon 'check'}} Cancel Anytime</p>
          </div>
        </div>
        {{#if (eq model.payment "one-time purchase")}}
        <div class="row justify-center">
          <div class="col">
            {{fa-icon 'check'}} 100% Money Back Guarantee
          </div>
        </div>
        <div class="row justify-center" style="margin-bottom: 1.5rem;">
          <div class="col">
            {{fa-icon 'check'}} Free Pearl's Beard Oil Sticker
          </div>
        </div>
        {{else if (eq model.payment "subscription")}}
        <div class="row justify-center" style="margin-bottom: 0rem;">
          <div class="col">
            {{fa-icon 'check'}} 100% Money Back Guarantee
          </div>
        </div>
        <div class="row justify-center" style="margin-bottom: 1.5rem;">
          <div class="col">
            {{fa-icon 'check'}} Free Pearl's Beard Oil Sticker
          </div>
        </div>
        {{else}}
        <div class="row justify-center" style="margin-bottom: 1.5rem;">
          <div class="col">
            {{fa-icon 'check'}} 100% Money Back Guarantee
          </div>
        </div>
        {{/if}}

      <form class=" text-center" onsubmit={{action "processStripeToken"}} style="max-width: 17rem; margin-left: auto; margin-right: auto;">

        {{!-- {{#power-select
        placeholder="Choose Payment Option"
        options=payments
        searchEnabled=false
        selected=model.payment
        onchange=(action (mut model.payment)) as |payment|}}
        {{payment}}
        {{/power-select}} --}}
        <div class="text-left" style="margin-left: 1.5rem; margin-bottom: 1rem;">
          <label for="subscriptioninput" onclick={{action "subscribeActive"}} style="cursor: pointer;"><input type="radio"
              id="subscriptioninput" name="payment" value="subscription" checked><span
              style="margin-left: 1rem;">Subscription</span></label>
          <label for="onetimepurchaseinput" onclick={{action "onetimepurchaseActive"}} style="cursor: pointer;"><input
              type="radio" id="onetimepurchaseinput" name="payment" value="one-time purchase"> <span
              style="margin-left: 1rem;">One-time Purchase</span></label>
        </div>
        <br>
        {{#if (eq model.payment "one-time purchase")}}

        {{stripe-checkout
        image="/img/IMG_1961.jpg"
        name="Pearl's Beard Oil"
        description="One-time Purchase"
        amount=1399
        label="Buy Now"
        shippingAddress=true
        billingAddress=true
        onToken=(action "processStripeToken")
        class="yellowbutton"
        }}
        {{else if (eq model.payment "subscription")}}

        {{stripe-checkout
        image="/img/IMG_1961.jpg"
        name="Pearl's Beard Oil"
        description="Monthly Subscription"
        amount=1099
        label="Subscribe"
        shippingAddress=true
        billingAddress=true
        onToken=(action "processStripeTokenSubscription")
        class="yellowbutton"
        }}
        {{else}}

        <div class="yellowbutton">Buy Now</div>
        {{/if}}
      </form>
        {{!-- <p style="margin-top: 2rem;">
            ** Outside of the U.S. $23.99 ** <br>
            ** We accept PayPal. **<br>
        </p>
        <div>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"
            style="display: inherit; margin-top: inherit;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="XPU65KSPFJSES">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0"
              style="padding-left: inherit; border: none;" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>

        </div>--}}
      <div class="row" style="margin-top: 2rem;">
        <div class="col">
          <h3>Description</h3>
          <p>
            On average this bottle should last a month.
            Sandy Cheeks has a soft beachy smell that is pleasant to the nose.
            Ingredients: Grape seed oil, bergamot and myrrh
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <img style="
        max-width: 100%;
        border: 1px solid #f3a536;
        object-fit: cover;
        height: 31rem;
        " src="./../img/IMG_1961.jpg" alt="">
    </div>

  </div>

  <div class="row justify-content-between" style="margin-top: 2rem;">
    <div class="col-lg-7 text-left">

    </div>
  </div>
</div>
{{outlet}}