{{#if session.isAuthenticated}}
{{#link-to 'admin.customer_inventories' class="text-center tab"}}Tracking{{/link-to}}
{{#link-to 'admin.contacts' class="text-center tab tab-active"}}Barbers{{/link-to}}
{{#link-to 'admin.barbershop_inventories' class="text-center tab"}}Barbershops{{/link-to}}
{{!-- {{#link-to 'admin.oilinventory' class="text-center tab"}}Oil Inventory{{/link-to}} --}}

<!-- ///////////////////////////////////////// -->
<!-- /////////////DESKTOP VIEW//////////////// -->
<!-- ///////////////////////////////////////// -->
<div class="hidemobile">
  {{models-table
  data=model.contacts
  columns=columns
  columnComponents=(hash
  deleteRow=(component "delete-row-comp" onClick=(action "deleteRecord"))
  editRow=(component "models-table/cell-edit-toggle" saveRowAction=(action "onSaveRow") cancelRowAction=(action "onCancelRow"))
)
  showComponentFooter=showComponentFooter
  showColumnsDropdown=showColumnsDropdown
  useFilteringByColumns=useFilteringByColumns
  showGlobalFilter=showGlobalFilter
  doFilteringByHiddenColumns=doFilteringByHiddenColumns
  useNumericPagination=useNumericPagination
  filteringIgnoreCase=filteringIgnoreCase
  multipleColumnsSorting=multipleColumnsSorting
  showPageSize=showPageSize
}}
</div>
  <table class="hidemobile" style="width:100%">
     <form onsubmit={{action "newContact"}}>
     <tr>
       <td>{{input class="" type="text" value=model.barbershop placeholder="barbershop"}}</td>
       <td>{{input class="" type="text" value=model.contactPerson placeholder="contact person"}}</td>
       <td>{{input class="" type="text" value=model.phoneNumber placeholder="phone number"}}</td>
       <td>{{input class="" type="text" value=model.email placeholder="email"}}</td>
       <td>{{input class="" type="textarea" value=model.callLog placeholder="call log"}}</td>
       <td>{{input class="" type="text" value=model.website placeholder="website"}}</td>
       <td>{{input class="" type="text" value=model.address placeholder="address"}}</td>
       <td class=""><div><button type="submit" class="btn btn-default yellowbutton" style="border-radius: 0rem;margin-top: 0rem; max-width: 8rem; min-width: 7rem;">Add Barber</button></div></td>
     </tr>
     </form>
  </table>
  <!-- ///////////////////////////////////////// -->
  <!-- /////////////MOBILE VIEW//////////////// -->
  <!-- ///////////////////////////////////////// -->

  <form id="contactform" class="hidedesktop" style=" justify-content: center; text-align: center;" onsubmit={{action "newContact"}}>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.barbershop placeholder="barbershop"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.contactPerson placeholder="contact person"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.phoneNumber placeholder="phone number"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.email placeholder="email"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="textarea" value=model.callLog placeholder="call log"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.website placeholder="website"}}</div>
    <div style="flex-basis: 20%; flex-grow: 1; margin-bottom: 1rem;">{{input class="" type="text" value=model.address placeholder="address"}}</div>
    <button type="submit" class="btn btn-default yellowbutton" style="border-radius: 0rem;margin-top: 0rem; max-width: 8rem; min-width: 7rem; margin: auto;">Add Barber</button>
  </form>
  <div class="hidedesktop" style="text-align: left; margin-top: 2rem; border-top: 1px solid black; padding-top: 2rem;">
    <h3 style="padding-bottom: 2rem;">Barber List</h3>
    {{#each model.contacts as |view|}}
      {{#link-to "admin.contact-edits" view.id}}
      <p style="border-bottom: 1px solid black; max-width: 15rem;"><strong>Contact:</strong> {{view.contactPerson}}</p>
      {{/link-to}}
    {{/each}}
  </div>
  {{else}}
  <div class="text-center">
  <h1> Sorry, you do not have admin access. Please login.</h1>
  {{#link-to 'login'}}Login{{/link-to}}
  </div>
{{/if}}
